.DS_Store
.vs
.vscode
.vsconfig
*.csproj
*.sln


Prototype_3D/.vs
Prototype_3D/.vscode
Prototype_3D/.vsconfig
Prototype_3D/*.csproj
Prototype_3D/*.sln
Prototype_3D/ProjectSettings/ProjectVersion.txt
Prototype_3D/Library/
Prototype_3D/Logs/
Prototype_3D/obj/
Prototype_3D/Temp/
